* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    display: flex;
    position: sticky;
}

aside {
    width: 25vw;
    height: 105vh;
    display: flex;
    flex-direction: column;
    top: 15vh;
    border-right: 0.2vw solid #43b02a;
    padding: 5vh 3vw 0;
    text-align: left;
    margin-bottom: -14.5%;
}

.searchSec {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
}

.searchSec input[type=text] {
    width: 70%;
    height: 100%;
    border-radius: 1vw;
    border: none;
    padding-left: 1vw;
    outline-style: none;
    color: black;
    background-color: #EFF0F0;
}

aside input[type=text]::placeholder {
    color: #43b02a;
}

aside h2 {
    color: #43b02a;
    margin-bottom: 1vh;
}

.sortCat {
    display: flex;
    margin: 5%;
}

.sortCat a {
    color: #43b02a;
    text-decoration: none;
}

.sortCat a:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
